.header-wrapper {
	text-align: right;
	margin-bottom: 7px;
	span {
		display: inline-block;
		width: 10px;
		height: 10px;
		background-color: rgba(0, 0, 0, 0.38);
		&:not(:first-of-type) {
			margin-left: 8px;
		}
		&:nth-of-type(2) {
			border-radius: 50%;
		}
		&:nth-of-type(3) {
			width: 0;
			height: 0;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 10px solid rgba(0, 0, 0, 0.38);
			background-color: transparent;
		}
	}
}
