:root {
	--black: #000;
	--white: #fff;
	--mercury: #e5e5e5;
	--yellow_sea: #fbaf03;
	--camelot: #832a4b;
	--tawny_port: #742543;
	--wine_berry_1: #551b31;
	--wine_berry_2: #65203a;
	--cream_brulee: #ffdda1;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-size: 14px;
}

body {
	display: flex;
	justify-content: center;
	margin: 0;
	color: var(--black);
	font-family: 'Metropolis', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
}

button {
	color: inherit;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-family: inherit;
}

ul {
	list-style: none;
}
